
.employee-card {
  border: 3px solid black;
  border-radius: 5px;
  width: 100%;
  margin: 8px;

  .avatar {
    float: left;
    margin: 8px;

    i {

    }
  }

  .info {
    float: left;
    margin: 8px;

    label {
      font-weight: bold;
    }
  }

  .float-clear {
    clear: both;
  }
}
