.employee-input-form-wrapper {

}

.employee-input-form {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;

  .inputs-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  mat-form-field {
    margin: 8px 8px;
    flex: 1 1 300px;
  }

  .button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    button.submit-button {
      margin-top: 8px;
      flex: 0 0 300px;
    }
  }
}
